<div id="footer">
<!--<footer>-->
    <!--<hr>-->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h5>Get in touch</h5>
                <ul class="list-inline">
                    <li class="list-inline-element">
                        <a href="#/jobs">Jobs</a>
                    </li>
                    <li class="list-inline-element">
                        <a target="_blank" href="https://www.twitter.com/meet_cleo">Twitter</a>
                    </li>
                    <li class="list-inline-element">
                        <a target="_blank" href="https://www.facebook.com/MeetCleo">Facebook</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Legal</h5>
                <ul class="list-inline">
                    <li class="list-inline-element"><a href="#/terms">Terms and Conditions</a></li>
                    <li class="list-inline-element"><a href="#/privacy">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>&copy; Copyright TonyAI 2016, all rights reserved.</p>
            </div>
        </div>
    </div>
<!--</footer>-->
</div>
