<my-navbar [leftButtons]="['We\'re Hiring!@/jobs']"
           [rightButtons]="['Signup@/login', 'Login@/login']"></my-navbar>

<div class="container">
    <div class="row">
        <div class="col-sm-12" >
            <div class="row">
                <h1>Frequently asked questions</h1>
            </div>
            <div class="row">
                <dl>
                    <dt>
                        <h2>What is Tony?</h2>
                    </dt>
                    <dd>
                        Tony is a intelligent assistant for your everyday life. Imagine you had your own team of
                        McKinsey consultants, a highly motivated individual such as Bill Gates, and Mr. Rogers all
                        helping to improve a little bit each day and achieve your goals. You'd probably be a bit
                        better off? Well, that's what Tony is. We bring state-of-the-art deep learning research
                        together with the simplest UI to help you improve your well being and live a vibrant life.
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt>
                        <h2>How does Tony work?</h2>
                    </dt>
                    <dd>
                        Tony interacts with you through text messages. Through these conversations, Tony will learn
                        about you and what your goals are. You can ask Tony about your goals or progress to deliver
                        relevant insights into your life. Under the hood, Tony is powered by deep learning algorithms.
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt>
                        <h2>How safe is Tony? 🔐</h2>
                    </dt>
                    <dd>
                        Tony is extremely safe and secure. We use bank-level encryption and security practices for
                        all of your personal data and conversation history.
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt>
                        <h2>How do I get an invite?</h2>
                    </dt>
                    <dd>You don't need one. Tony is available right now, all you need to do is <a class="nav-link" href="#/signuporlogin">signup</a>. </dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt>
                        <h2>How will you make money?</h2>
                    </dt>
                    <dd>
                        We offer Tony on a monthly or annual subscription. We also have significant
                        backing from tier-one investors to execute this vision quickly.
                    </dd>
                </dl>
            </div>
            <div class="row">
                <dl>
                    <dt>
                    <h2>Will you sell my data.</h2>
                    </dt>
                    <dd>
                        No, we will <strong>never</strong> sell your data.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
