<my-navbar [rightButtons]="['Home@/home']"></my-navbar>

<div class="container">
    <h2 align="center">
        Work at TonyAI
    </h2>
    <p align="center">
        An A.I. assistant for your life.
    </p>
    <p>
        We leverage the power of data to provide real time, moment to moment
        realization of your goals.  We are a team of big thinkers
        and active doers with strong software engineering and data science
        backgrounds. We aim to change the way people interact with their money and
        create a retail banking experience of the future.
    </p>
    <p>
        We're backed by truly exceptional investors and are looking for ambitious,
        extraordinary individuals to join our team.
    </p>
    <h3>
        <strong>What We're Building</strong>
    </h3>
    <p>
        Cleo is an intelligent assistant for your money. By combining
        state-of-the-art machine learning algorithms with elegant and user-friendly
        chat interface, Cleo provides you a deep and thorough understanding of your
        personal finances. Ask Cleo a question via SMS or Facebook Messenger and
        get an instant answer, directly to your mobile phone.
    </p>
    <br>
    <br>
    <h3 align="center">
        <strong>Open Positions</strong>
    </h3>
    <h4>
        Lead Creative (Toronto, Canada)
    </h4>
    <h5>
        <strong>Job Description</strong>
    </h5>
    <p>
        We are a small team and therefore you will play a central role in
        everything: from product development to user base growth and shaping
        company culture. You will have a strong influence on Tony’s future
        development, and we will welcome your contributions to our vision. You will
        work closely with our founding team and be responsible for all
        UX/UI-related aspects of Tony, ranging from web and mobile design to
        crafting chatbot conversation flows. We want you to take the lead on
        shaping retail banking experience of the future.
    </p>
    <h5>
        Requirements:
    </h5>
    <p>
        - proven UX/UI design experience backed by an impressive portfolio of
        digital products,
        <br/>
        - good understanding of web design patterns and interactions,
        <br/>
        - being up to date with mobile and web design trends,
        <br/>
        - self-starter mindset and strong sense of ownership,
        <br/>
        - being comfortable in delivering end-to-end solutions and executing all
        visual design stages from concept to implementation,
        <br/>
        - being comfortable with running user research, gathering user feedback and
        adapting your designs accordingly,
        <br/>
        - a passion for advocating for the needs of real users,
        <br/>
        - ability to adapt quickly to a fast-paced start-up environment,
        <br/>
        - bonus points for clear writing style and excellent copywriting skills.
    </p>
    <h5>
        Skills
    </h5>
    <p>
        Web Design, Mobile Application Design, UI/UX Design, UX Research
    </p>
    <p>
        Compensation
    </p>
    <p>
        $100K – $120K
        <br/>
        0.125% – 1.0%
    </p>
    <h5>
        To Apply: Email <a href="mailto:contact@tonyai.net">contact@tonyai.net</a>
        with resume and a short cover letter.
    </h5>
    <br>
    <br>
    <h4>
        Software Engineering (Toronto, Canada)
    </h4>
    <h5>
        <strong>Job Description</strong>
    </h5>
    <p>
        We are a small team and therefore you will play a central role in
        everything: from product development to user base growth and shaping
        company culture. However, your focus will be on the user-facing part of
        Tony, ranging from web views to chat conversation flow. You will work
        closely with our back-end devs and designers and be responsible for
        delivering beautiful, slick experience to our users. We want you to take
        the lead on shaping the way users interact with Tony.
    </p>
    <p>
        We are looking for candidates with an outstanding academic record, proven
        front-end development experience and strong sense of ownership.
        <br/>
        Our ideal candidate should have:
        <br/>
        - excellent HTML and CSS skills and understanding of responsive design.
        Working knowledge of SCSS and Bootstrap is a plus,
        <br/>
        - strong JavaScript/CoffeeScript coding skills with working knowledge of
        jQuery. Bonus points for familiarity with React.js,
        <br/>
        - an eye for detail and good understanding of layout and basic interface
        design principles,
        <br/>
        - self-starter mindset, being comfortable with making UX and design
        decisions,
        <br/>
        - eagerness for learning and occasionally doing tasks outside of
        traditional understanding of front-end engineering (like Ruby back-end
        development, basic graphic design or designing chat flow interactions),
        <br/>
        - interest in building elegant interfaces and crafting beautiful, intuitive
        interactions,
        <br/>
        - excellent communication skills. Copywriting experience is a plus.
    </p>
    <h5>
        Skills
    </h5>
    <p>
        Javascript, CSS, Coffeescript, SCSS/Sass, Twitter Bootstrap, Ruby on Rails,
        React.js
    </p>
    <p>
        Compensation
    </p>
    <p>
        $100K – $120K
        <br/>
        0.125% – 1.0%
    </p>
    <h5>
        To Apply: Email <a href="mailto:contact@tonyai.net">contact@tonyai.net</a>
        with resume and a short cover letter.
    </h5>
</div>
