<my-navbar [leftButtons]="['We\'re Hiring!@/jobs']" [rightButtons]="['FAQs@/faqs', 'Signup@/signuporlogin']"></my-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header style="text-align: center;">
                <h3>Login</h3>
            </header>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div *ngIf="error">
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Failed to login.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div *ngIf="isLoading" class="loader" aria-hidden="true"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div *ngIf="!isLoading">
                <form accept-charset="UTF-8" (ngSubmit)="login()" style="max-width: 500px; margin-left: auto; margin-right: auto;">
                    <div class="form-group">
                        <input type="text" placeholder="Email" class="form-control" id="email" [(ngModel)]="email"
                               required name="email" maxlength="40">
                    </div>

                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control" id="password" [(ngModel)]="password"
                               required  name="password" maxlength="40">
                    </div>
                    <button [disabled]="isLoginDisabled()" type="submit" class="btn btn-default btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
