<my-navbar [leftButtons]="['We\'re Hiring!@/jobs']" [rightButtons]="['FAQs@/faqs']"></my-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <header style="text-align: center;">
                <h2>Sign up for your Tony account.</h2>
                <p>No hidden fees.</p>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <my-signup></my-signup>
        </div>
        <div class="col-md-6">
            <my-login></my-login>
        </div>
    </div>
</div>