<my-navbar [rightButtons]="['Profile@/profile', 'Sign Out@/signout']"></my-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center;">
            <i class="fa fa-check-circle fa-5x icon-big" style="color: #5cb85c;" aria-hidden="true"></i>
            <h3>Payment successful!</h3>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center;">
            <br>
            <a class="btn btn-success" routerLink="/profilesetup">Continue To Profile Setup</a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
